{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
    <link rel="stylesheet" href="assets/css/front/login.css">

{% endblock %}

{% block body %}

<div class="auth">
  <div class="auth__form">
    <div class="login-form">
      <form action="{{ path('security_login') }}" method="post">
          <h2 class="text-center">Login</h2>
          <div class="form-group">
              <input type="text" name="_username" class="form-control" placeholder="Username" required="required">
          </div>
          <div class="form-group">
              <input type="password" name="_password" class="form-control" placeholder="Password" required="required">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">LOGIN</button>
          </div>
          <div class="clearfix">
              <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
          </div>
          <div class="forgot">
            <a href="#" class=" out_link pull-right">Forgot Password?</a>
          </div>
      </form>
      <div class="text-center">
        <button class="btn btn-outline btn-primary">Create an Account</button>
      </div>
    </div>
  </div>
{% endblock %}
