{% extends 'base/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/front/dash.css">
{% endblock %}
{% block body %}

<div class="parallax"></div>

<div class="about-container">
    <div class="container">

        <!-- Header --> 
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Résumé</div>
                    <div class="card-body text-no-weight">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto minima laudantium eveniet accusantium quidem, laborum voluptatem accusamus, voluptatibus perferendis natus unde aut eaque consequuntur aperiam ea delectus. Ducimus, sapiente at.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Survey list part -->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Questionnaires</div>
                    <div class="card-body text-no-weight">
                        <ul class="list-group">
                            <li class="list-group-item">Master Sippe M1<a class="badge float-right badge-danger badge-pill text-white">X</a></li>
                            <li class="list-group-item">CP école des privilèges<a class="badge float-right badge-danger badge-pill text-white">X</a></li>
                            <li class="list-group-item">MMI formation 3<a class="badge float-right badge-danger badge-pill text-white">X</a></li>
                        </ul>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-light float-right" onclick="window.location.href='http://127.0.0.1:8000/create-survey'">Ajouter</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stats part -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Statistiques</div>
                    <div class="card-body text-no-weight">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias sunt excepturi delectus qui aut quisquam dignissimos nemo aliquid laborum, nisi, fugit doloribus laboriosam odio repudiandae id explicabo recusandae. Accusamus, perferendis.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="parallax"></div>


{% endblock %}