{% extends 'base/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="assets/css/front/dash.css">
{% endblock %}
{% block body %}

<div class="parallax"></div>

<div class="about-container">
    <div class="container">

        <!-- Header --> 
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Résumé</div>
                    <div class="card-body text-no-weight">
                            MASTER SIPPE M1 & M2
                    </div>
                </div>
            </div>
        </div>

        <!-- Survey list part -->
        <div class="row row-second">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Questionnaires</div>
                    <div class="card-body text-no-weight">
                        <ul class="list-group">
                        {% for ques in QuestionnaireList %}
                            <li class="list-group-item">
                                {{ ques.title }}
                                <a class="badge float-right badge-danger badge-pill text-white">X</a>
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="row row-btn">
                            <div class="col-md-12">
                                <button class="btn btn-light float-right"><a href="{{ path('create-survey') }}">Ajouter</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stats part -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Statistiques</div>
                    <div class="card-body text-no-weight">
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias sunt excepturi delectus qui aut quisquam dignissimos nemo aliquid laborum, nisi, fugit doloribus laboriosam odio repudiandae id explicabo recusandae. Accusamus, perferendis.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="parallax"></div>


{% endblock %}