.about-container {
    margin-top: 120px;
    background-color: rgba(255,255,255, 0.9); /* Black w/opacity/see-through */
    color: black;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center; 
}
.parallax {
    /* The image used */
    background-image: url('../../img/college.jpg');
  
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para-about {
    font-weight: 200;
}