.row-lint {
    margin-bottom: 30px;
}
.row-btn {
    margin-top: 10px;
}
.container {
    margin-top: 20px;
    text-align: center;
}
.dash-container {
    margin-top: 50px;
    border-radius: 5px;
    width: 70%;
    padding: 20px;
    z-index: 2;
}
.parallax {
    /* The image used */
    background-image: url('../../img/college.jpg');
  
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}