.row-lint {
    margin-bottom: 30px;
}
.row-btn {
    margin-top: 10px;
}
.container {
    margin-top: 20px;
    text-align: center;
}
.dash-container {
    margin-top: 50px;
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.9); /* Black w/opacity/see-through */
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    padding: 20px;
    z-index: 2;
}
.parallax {
    /* The image used */
    background-image: url('../../img/college.jpg');
  
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}