@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("/assets/img/college.jpg");
}

.auth__header:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.auth {
  margin-top: 120px;
}
.auth__body {
  padding-bottom: 2rem;
}
.login-form {
  width: 340px;
    margin: 50px auto;
}
.login-form form {
  margin-bottom: 15px;
    background: rgba(255,255,255,.6);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
    font-size: 50px;
    color: #6bc70f !important;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
    border-color:#84ee1c;
}
.forgot a {
  color: black;
  text-decoration: underline;
}
.form-control, .btn:hover,
.form-control, .btn:active{
    min-height: 38px;
    border-radius: 2px;
    border-color:#76da94;
}
.btn {
    font-size: 15px;
    font-weight: bold;
    background: #84ee1c;
}
.btn:hover {
  background: #78d31c;
}
.out_link
{
  color:white;
}
