{% extends 'base.html.twig' %}
{% block title %}PAGE DE QUESTIONNAIRE{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('build/css/app.css')}}">
    <link rel="stylesheet" type="text/css" href="assets/css/front/questionnaire.css">
    <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel="stylesheet">
   

{% endblock %}
{% block body %}
<section >
	<div class="wrapper container">
		<h1 class="entête_formulaire"> Questionnaire d'évaluation de la formation</h1>

	<ul>
		<li> Nom</li>
		<li> Promotion</li>
		<li> Année</li>
	</ul>
	<div class="clear"></div>
	<p>
		Le faux-texte est, en imprimerie, un texte sans signification, dont le seul objectif est de calibrer le contenu d'une page par du texte, fût-il non éditorial, pour travailler sur la seule mise en forme de la page. Le texte définitif prendra la place du faux-texte, une fois que la mise en forme sera jugée acceptable.
	</p>
<div class="clear"></div>
	<ul>
		<li> 0 pas d'accord</li>
		<li> 1 plutôt pas d'accord</li>
		<li> 2 plutôt d'accord </li>
		<li> 3 d'accord </li>
	</ul>

	<div class="clear"></div>

	<p class="red">* requis</p>
</section>
	</div>
	

<section >
	<div class="wrapper  container">
		<div class="form-espace formulaire">
		<h2>UE</h2>
		
			
		<h2> Contenu</h2>
		<p> Le contenu du cours est satisfaisant pour mon orientation professionnelle. <span class="red">*</span></p>

			<div class="button-1">
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>
		
			<p> J'ai compris les objectifs et l'importance de ce cours. <span class="red">*</span></p>

			<div class="button-1">
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

			</div>

			<p> J'ai compris le programme de ce cours. <span class="red">*</span></p>

			<div class="button-1">
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>
		
			<p> Je sais ce que je dois apprendre et sur quoi je serais jugé à l'examen. <span class="red">*</span></p>

			<div class="button-1">
				
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>
		
			<p> Les ressources nécessaires me semblent appropriées et disponibles. <span class="red">*</span></p>

			<div class="button-1">
				
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>
		
			<!-- Déroulement-->

			<h2> Déroulement</h2>
		<p> Le cours est bien équilibré entre éléments de théorie, exemples et applications. <span class="red">*</span></p>

			<div class="button-1">
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>


			<p> J'ai compris quels sont les objectifs de chaque séance . <span class="red">*</span></p>

			<div class="button-1">
				
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

			</div>

			<p> Le déroulement des cours,TD, TP réflète la difficulté et l'importance des sujets traités. <span class="red">*</span></p>

			<div class="button-1">
				<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

			</div>

			<p> Le travail en cours, TD, TP prépare correctement à l'examen. <span class="red">*</span></p>
		<div class="button-1">
			<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

		</div>

		

			<p> Le volume horaire reflète l'importance de la matière. <span class="red">*</span></p>
			<div class="button-1">

		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
		</div>
			<!--Activités (TD, TP, Projet -->

			<h2> Activités (TD, TP, Projet)</h2>
		<p> Je sais quelles sont les activités que l'on attend de moi. <span class="red">*</span></p>

		<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>
		
			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

			</div>

			<p> J'ai compris quels sont les critères et les directives de ces activités . <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

		</div>

			<p> Je sais quels sont les objectifs évalués par ces activités . <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

		</div>
			<p> Ces activités sont ordonnées en fonction de leur difficulté croissante. <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>

			<p> Ces activités me permettent de vérifier ma progression. <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

			</div>
			<!-- Présentation -->



			<h2> Présentation </h2>
		<p> L'enseignant présente la matière de façon claire et structurée. <span class="red">*</span></p>

		<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>


			<p> Les supports de cours me sont utiles . <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
			</div>


			<p> L'enseignant s'assure que les notions sont bien assimilées. <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

		</div>
			<p> L'enseignant semble soucieux d'ameliorer son cours. <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>

		</div>
			<p> L'enseignant est suffisament disponible. <span class="red">*</span></p>

			<div class="button-1">
		<!-- Material inline 0 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline0" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline0">0</label>
			</div>
		<!-- Material inline 1 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline1">1</label>
			</div>

			<!-- Material inline 2 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  			<label class="form-check-label" for="materialInline2">2</label>
			</div>

			<!-- Material inline 3 -->
			<div class="form-check form-check-inline">
  			<input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
 			 <label class="form-check-label" for="materialInline3">3</label>
			</div>
		</div>
			</div>
			
			<a href="#" class="btn btn-info button-2" role="button">ENVOYER</a>
	</div>
	
</section>



{% block javascripts %}
    <script src="{{ asset('build/js/app.js') }}"> </script>
{% endblock %}
{% endblock %}
