<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/css/app.css">
        {% endblock %}
    </head>
    {% block header %}
        <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top">
            <a class="navbar-brand" href="#"><img class="logo-nav" style="height: 40px; margin-right: 20px;" src="assets/img/assessboard.png"/>Assessboard</a>
            <ul class="navbar-nav btn-to-top">
                <li class="nav-item">
                    <a class="nav-link" class="float-right" href="#">Connexion</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
    <body>        
        {% block body %}    
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
